* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:normal;
    scroll-behavior: smooth;
    transition:0s;  
    font-family: 'Wii NTLG PGothic JPN Regular';
}
  @font-face {
    font-family: 'Wii NTLG PGothic JPN Regular';
      /* wii shop font from: https://github.com/amarillonmc/MSE201_w_ygos10/blob/master/font/ZENTemplate/FOT-Rodin%20Pro%20M.ttf */
      /* the closest font to wii shops font in google fonts is Noto Sans JP */
    src: url(/font/FOT-Rodin\ Pro\ M.ttf);
  }
  
          body {
          
              color:white;
              background-color:black;
              width:100%;
              height:100%;
              overflow:hidden;
              background-image:url("/images/globe/");
              background-size:cover;
            
          }

          #globetrans {
            background-image:url("/images/globe/GLOBE-TXT.png");
            background-repeat:no-repeat;
            background-position-y:48%;
            background-position-x:center;
            background-color:black; position:absolute; width:100%; height:100%;
            display:none;
            
          }


        a {
          color:#10799c;
          cursor: url("/images/wiicursorremake_hover.png"), pointer;
      }
      a:hover {
          color:#12a3d3;
          cursor: url("/images/wiicursorremake_hover.png"), pointer;
      }

      #currentweathericon {
          position:absolute;   right:5%;  width:230; height:auto; z-index:2; top:5%; 
          filter: drop-shadow(1px 1px 3.4px #067b12a9);
      }

        #globe:active {
            cursor: url("/images/wiicursorremake_grab.png"), auto;
        }
        #globe {
            user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition:.6s ease-in-out;
    background-image:url("/forecastchannel/images/loadingglobe.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    /*border-radius:310px;*/
    width:100%;
    height:100%;  display:block; 
    max-width:60%; 
    margin:auto;
     position:absolute; left:20%; right:20%; bottom:50%; top:50%; 
     z-index:1px;
        }

        #details {
          text-align: center;
        }
        .topbtns {
          width:30%;
          padding:0px;
          z-index:30px;
      }
      #bottombtns {
           width:100%; height:fit-content; position:absolute; bottom:30px;              z-index:30px;  
      }

      #NASAANDWNWATERMARK {
          position:absolute; left:8%; bottom:120px; width:230; height:auto; z-index:2;
      }
      #controlsmenu {
          position:absolute; left:0%; top:0; z-index:10; 
          background-repeat:no-repeat;
          background-position:center;
          width:100%; height:100%;
          background-color:#1010374b;
          transition:.3s ease-in-out;
          color:white;
          font-size:19px;
          text-align:center;
           display: flex;
           align-items: center; 
           justify-content: center; 
           list-style-type: none;

      }



        button {
          display:inline-block;
          background: rgb(237,237,237);
          background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(206,206,206,1) 42%, rgba(189,189,189,1) 43%, rgba(231,231,231,1) 81%);
           background-size:contain;
           background-repeat:repeat-x;
         width:20%;
        height:60px;
        max-height:60px;
        overflow:hidden;
        padding:3px;
        border-radius:4px;
        border:none;
        font-size:23px;
    background-color:transparent;
        color:#323232;
        font-weight:bold;
        opacity:30%;
        transition:.1s ease-in-out;
        background-color:#e8e8e8;
        box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.473);
        }
        button:hover {
          cursor: url("/images/wiicursorremake_hover.png"), pointer;
          background: rgb(39,188,237);
          background: linear-gradient(180deg, rgba(39,188,237,1) 0%, rgba(34,163,206,1) 42%, rgba(32,150,190,1) 43%, rgba(41,198,251,1) 81%);
           transition:.1s ease-in-out;
        opacity:58%;
        background-color:#26b8e8;
        color:white;
        box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.623);
        }
        button:active {
          margin-top:-5px;
          cursor: url("/images/wiicursorremake_hover.png"), pointer;
          background: rgb(31,174,221);
          background: linear-gradient(180deg, rgba(31,174,221,1) 0%, rgba(27,148,189,1) 42%, rgba(25,141,180,1) 43%, rgba(17,188,246,1) 81%);
           transition:.1s ease-in-out;
           opacity:74%;
           height:60px;
           background-color:#26b8e8;
           box-shadow: 3px 3px 5px rgba(197, 197, 197, 0.822);
           color:white;
        }
        .active {
           background-image:url("/forecastchannel/images/globe/border_press.png"); 
           transition:.1s ease-in-out;
           opacity:74%;
           height:60px;
           background-color:#26b8e8;
           color:white;
        }
